.parallax {
background-image: url("/images/whitesands.jpg");
min-height: 460px;
max-height: 1000px;
background-size:cover;
background-position:center center;
background-repeat:no-repeat;
background-attachment: fixed;
}