.heroImg {    
/* background-image: url("https://pce.azureedge.net/getmedia/e363958f-feea-4f8a-a343-a76e8ebdec4e/earthquake-eng-cert-hero-2000x600-2.jpg");  */
background-image: url("/images/whitesands.jpg");
min-height: 600px;
background-size:cover;
background-position:center center;
background-repeat:no-repeat;
padding:50px 10%;
}

.heroTitle {    

}

.detailsContainer {
    background-color:#f0ede3;
        width:33%; 
    
    /* grid-column:8/span 4; */
}

.listGroup {
    font-family: encode_sans_compressedregular, sans-serif;
    font-size: 15px;    
    border-bottom: 1px solid #dbd5c5;
    border-left: 0;
    border-right: 0;     
    padding: 5px 0;
    color: #444;
    text-transform: uppercase;
}
