.shape {
    background: url("https://www.pce.uw.edu/assets/images/svg/white-chevron.svg") no-repeat center bottom;
    display: "block";
    height: 80px;
    top:-80px;
    width: 100%;
    position:relative; 
    
}