.shape {
    background: url("https://www.pce.uw.edu/assets/images/svg/white-chevron.svg") no-repeat center bottom;
    display: "block";
    height: 80px;
    top: -80px;
    width: 100%;
    position: relative;

}

.learningFormatHeading {
    font-family: encode_sans_compressedblack, sans-serif;
    color: #4b2e83;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1;
}

.learningFormat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: open_sansregular, sans-serif;
    margin-bottom: 60px;
}

.learningFormatImageContainer {
    width: 16.67%;
}

.learningFormatTextContainer {
    width: 66.67%;
    padding-right: 20%;
}

.learningFormatTextTitle {
    font-size: 22px;
    color: #444;
    font-family: encode_sans_compressedblack, sans-serif;
    text-transform: uppercase;
}

.learningFormatTextDescription {
    line-height: 1.42857;
    font-family: open_sansregular, sans-serif;
    font-size: 17px;
    color: #222;
}

@media only screen and (max-width: 800px) {
    .learningFormat {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center; */
    }

    .learningFormatImageContainer {
        width: 50%;
        text-align: left;
    }

    .learningFormatTextContainer {
        width: 90%;
        text-align: center;
    }

}