.shape {
    background: url("https://www.pce.uw.edu/assets/images/svg/light-gray-chevron.svg") no-repeat center bottom;
    display: "block";
    height: 24px;
    width: 100%;
    position:relative; 
    top:-20px;
    
}